<div class="footer">
    <div class="footer_up">
        <div class="footer_social">
            <h3 class="footer_title">с о ц с е т и</h3>
            <ul class="social list-reset">
                <li class="social-item"><a href="#" class="social-link social-link-fb" target="_blank" aria-label="Link to Facebook">вк</a></li>
                <li class="social-item"><a href="#" class="social-link social-link-fb" target="_blank" aria-label="Link to Facebook">телеграм</a></li>
                <li class="social-item"><a href="#" class="social-link social-link-fb" target="_blank" aria-label="Link to Facebook">хабр</a></li>
                <li class="social-item"><a href="#" class="social-link social-link-fb" target="_blank" aria-label="Link to Facebook">гитхаб</a></li>
            </ul>
        </div>
        <div class="footer_contacts">
            <h3 class="footer_title">п и ш и т е</h3>
            <a href="mailto:Denisosaurus@yandex.ru" class="footer-mail">Denisosaurus@yandex.ru</a>
        </div>
    </div>
    <div class="footer_bottom">
        <small class="copyright">&copy;&nbsp;2023. All Rights Reserved.</small>
    </div>
</div>
