<div class="header">
    <div class="header_section">
        <div class="buttons">
            <div class="header_item headerButton"><a href="index_blog.html">блог</a></div>
            <div class="header_item headerButton"><a href="#">правила</a></div>
            <div class="header_item headerButton"><a href="#">контакты</a></div>
            <div class="header_item headerButton"><a href="#">кнопка 4</a></div>
        </div>
    </div>
</div>