<div class="main_blog">
    <h1 class="blog_title">б л о г</h1>
    <div class="blog_container">
        <ul class="blog_list">
            <li class="item-blog">
                <div class="card-blog">
                    <div class="card-blog-prew">
                        <a href="column.html"><img class="card-blog-image" src="~/Images/a.jpg" alt="spider"></a>
                    </div>
                    <div class="card-blog-body">
                        <div class="card-blog-top">
                            <h2 class="card-blog-title"><a href="column.html" class="blog_link">Card</a></h2>
                            <div class="card-blog-descr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-blog-bottom">
                            <span class="card-blog-date">22.02.2024.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-blog">
                <div class="card-blog">
                    <div class="card-blog-prew">
                        <a href="column.html"><img class="card-blog-image" src="~/Images/a.jpg" alt="spider"></a>
                    </div>
                    <div class="card-blog-body">
                        <div class="card-blog-top">
                            <h2 class="card-blog-title"><a href="column.html" class="blog_link">Card</a></h2>
                            <div class="card-blog-descr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-blog-bottom">
                            <span class="card-blog-date">22.02.2024.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-blog">
                <div class="card-blog">
                    <div class="card-blog-prew">
                        <a href="column.html"><img class="card-blog-image" src="~/Images/a.jpg" alt="spider"></a>
                    </div>
                    <div class="card-blog-body">
                        <div class="card-blog-top">
                            <h2 class="card-blog-title"><a href="column.html" class="blog_link">Card</a></h2>
                            <div class="card-blog-descr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-blog-bottom">
                            <span class="card-blog-date">22.02.2024.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-blog">
                <div class="card-blog">
                    <div class="card-blog-prew">
                        <a href="column.html"><img class="card-blog-image" src="~/Images/a.jpg" alt="spider"></a>
                    </div>
                    <div class="card-blog-body">
                        <div class="card-blog-top">
                            <h2 class="card-blog-title"><a href="column.html" class="blog_link">Card</a></h2>
                            <div class="card-blog-descr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-blog-bottom">
                            <span class="card-blog-date">22.02.2024.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="item-blog">
                <div class="card-blog">
                    <div class="card-blog-prew">
                        <a href="column.html"><img class="card-blog-image" src="~/Images/a.jpg" alt="spider"></a>
                    </div>
                    <div class="card-blog-body">
                        <div class="card-blog-top">
                            <h2 class="card-blog-title"><a href="column.html" class="blog_link">Card</a></h2>
                            <div class="card-blog-descr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="card-blog-bottom">
                            <span class="card-blog-date">22.02.2024.</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
